---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main>
    <div class="flex justify-center px-4">
      <div class="w-[1000px]">
        <div class="my-10">
          <div class="flex flex-wrap justify-center items-center gap-x-4">
            <div
              class="text-accent text-sm sm:text-md font-ubuntu max-w-[600px] order-2 text-justify sm:mt-0 mt-4"
            >
              <div>
                A web developer by day and a tech enthusiast by night. Turning
                complex problems into managable, easy solutions keeps me going.
              </div>
              <div class="my-2">Here's a quote I find inspiring</div>
              <span class="italic text-white"
                >"Start it messy, clean it up as you go, make it perfect later"</span
              >
              <br
              />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              I try to follow this motto whenever I start procastinating.
              <div>
                When I'm not coding, you might find me diving into the latest
                tech trends, building custom PCs, or tinkering with new gadgets.
                I also like roaming around with my cycle.
              </div>
            </div>
            <div class="order-1 sm:mt-0 mt-4">
              <img
                class="sm:w-48 sm:h-48 w-36 h-36 shrink-0"
                src="/public/pix-shifat.png"
                alt=""
              />
            </div>
          </div>
        </div>
        <div
          class="text-accent font-jersey sm:text-4xl text-2xl my-5 text-center"
        >
          Working Experience
        </div>
        <div class="text-accent text-justify">
          <div class="flex justify-between items-center">
            <div class="flex gap-x-2 items-center">
              <span class="font-jersey sm:text-3xl text-2xl text-white"
                >Sayburgh Solutions</span
              >
              <a target="_blank" href="https://sayburgh.com/">
                <svg
                  fill="#A6EC61"
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  width="25"
                  height="25"
                  viewBox="0 0 128 128"
                >
                  <path
                    d="M 84 11 C 82.3 11 81 12.3 81 14 C 81 15.7 82.3 17 84 17 L 106.80078 17 L 60.400391 63.400391 C 59.200391 64.600391 59.200391 66.499609 60.400391 67.599609 C 61.000391 68.199609 61.8 68.5 62.5 68.5 C 63.2 68.5 63.999609 68.199609 64.599609 67.599609 L 111 21.199219 L 111 44 C 111 45.7 112.3 47 114 47 C 115.7 47 117 45.7 117 44 L 117 14 C 117 12.3 115.7 11 114 11 L 84 11 z M 24 31 C 16.8 31 11 36.8 11 44 L 11 104 C 11 111.2 16.8 117 24 117 L 84 117 C 91.2 117 97 111.2 97 104 L 97 59 C 97 57.3 95.7 56 94 56 C 92.3 56 91 57.3 91 59 L 91 104 C 91 107.9 87.9 111 84 111 L 24 111 C 20.1 111 17 107.9 17 104 L 17 44 C 17 40.1 20.1 37 24 37 L 69 37 C 70.7 37 72 35.7 72 34 C 72 32.3 70.7 31 69 31 L 24 31 z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
          <div
            class="mt-6 flex flex-col gap-y-2 font-ubuntu text-sm sm:text-base"
          >
            <div>
              <div class="flex justify-between">
                <div>Junior Frontend Developer</div>
                <div>June 23 - Present</div>
              </div>
              <div class="mt-2 text-grey1">
                <ul>
                  <li>
                    <span class="text-accent font-bold">- </span> Built and designed
                    the UI from scratch, structured the frontend layouts, created
                    re-usable components, designed according to Figma while maintaining
                    responsiveness.
                  </li>
                  <li>
                    <span class="text-accent font-bold">- </span> Integrated APIs,
                    payment gateways and made the frontend production ready for deployment.
                  </li>
                  <li>
                    <span class="text-accent font-bold">- </span> Refactored and
                    re-designed UI and project flow according to client feedbacks.
                  </li>
                  <li>
                    <span class="text-accent font-bold">- </span> Explored and learnt
                    about different build processes, used server-side generation
                    for for SEO and custom meta data.
                  </li>
                  <li>
                    <span class="text-accent font-bold">- </span> Guided a team of
                    two and delivered a livestock related project using the mentioned
                    boilerplate within a very short timeline.
                  </li>
                  <li>
                    <span class="text-accent font-bold">- </span> Exploring Astro
                    and Electron.
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div class="flex justify-between">
                <div>Trainee Frontend Developer</div>
                <div>Nov 22 - May 23</div>
              </div>
              <div class="mt-2 text-grey1 text-sm sm:text-base">
                <ul class="">
                  <li>
                    <span class="text-accent font-bold">- </span> Created a Point
                    of sale clone for a restuarant management system.
                  </li>
                  <li>
                    <span class="text-accent font-bold">- </span> Worked on point
                    of sale of Foodqo, designed UI n and integrated API.
                  </li>
                  <li>
                    <span class="text-accent font-bold">- </span> Attended Basis
                    Expo and showcased our projects.
                  </li>
                  <li>
                    <span class="text-accent font-bold">- </span> Redesigned UI and
                    refactored code of an old project.
                  </li>
                  <li>
                    <span class="text-accent font-bold">- </span> Designed and Developed
                    a HR managment system Landing website from scratch, worked with
                    CSS animation. Implemented momentum scrolling.
                  </li>
                  <li>
                    <span class="text-accent font-bold">- </span> Collaborated with
                    other developers to work on a ticket management system.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div></div>
        </div>
        <!-- <div
		class="w-[1000px] mt-5 text-accent p-6 text-justify"
        >
          <div class="flex justify-between items-center">
            <div class="flex gap-x-2 items-center">
              <span class="font-jersey text-4xl text-white"
                >Euromarks Global</span
              >
              <svg
                fill="#A6EC61"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="25"
                height="25"
                viewBox="0 0 128 128"
              >
                <path
                  d="M 84 11 C 82.3 11 81 12.3 81 14 C 81 15.7 82.3 17 84 17 L 106.80078 17 L 60.400391 63.400391 C 59.200391 64.600391 59.200391 66.499609 60.400391 67.599609 C 61.000391 68.199609 61.8 68.5 62.5 68.5 C 63.2 68.5 63.999609 68.199609 64.599609 67.599609 L 111 21.199219 L 111 44 C 111 45.7 112.3 47 114 47 C 115.7 47 117 45.7 117 44 L 117 14 C 117 12.3 115.7 11 114 11 L 84 11 z M 24 31 C 16.8 31 11 36.8 11 44 L 11 104 C 11 111.2 16.8 117 24 117 L 84 117 C 91.2 117 97 111.2 97 104 L 97 59 C 97 57.3 95.7 56 94 56 C 92.3 56 91 57.3 91 59 L 91 104 C 91 107.9 87.9 111 84 111 L 24 111 C 20.1 111 17 107.9 17 104 L 17 44 C 17 40.1 20.1 37 24 37 L 69 37 C 70.7 37 72 35.7 72 34 C 72 32.3 70.7 31 69 31 L 24 31 z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="mt-6 flex flex-col gap-y-2 font-ubuntu text-base">
            <div>
              <div class="flex justify-between">
                <div>Frontend Developer</div>
                <div>March 22 - July 22</div>
              </div>
              <div class="mt-2 text-grey1">
				Worked on designing admin panel using Bootstrap, integrated API and customized the project in NopCommerce.
              </div>
            </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </main>
</Layout>
<script>
  //   let expand1 = document.getElementById("expand1");
  //   let expand2 = document.getElementById("expand2");

  //   let toggle = false;
  //   let details1 = document.getElementById("work1");
  //   let details2 = document.getElementById("work2");

  //   expand1?.addEventListener("click", () => {
  //     // toggle = !toggle
  //     details1?.classList.toggle("hidden");
  //   });
  //   expand2?.addEventListener("click", () => {
  //     // toggle = !toggle
  //     details2?.classList.toggle("hidden");
  //   });
</script>
