---
import Layout from "../layouts/Layout.astro";
import Terminal from "../components/Terminal.astro";
---

<Layout title="Shifat Habib">
  <main>
    <div class="flex justify-center">
      <div class="max-w-[1000px] mt-16 sm:mt-20 mx-4">
        <div>
          <div
            class="bg-accent p-2 md:p-4 border-4 sm:border-[12px] border-terminal1 md:flex md:gap-x-4"
          >
            <div class="-mt-12">
              <div
                class="pixel md:border-none border-2 border-terminal1 bg-background w-[250px] sm:w-[380px] flex gap-x-4 p-5 sm:p-6 z-20"
              >
                <div class="text-white sm:text-5xl text-3xl font-jersey">
                  >_&nbspShifat Habib
                </div>
                <div class="sm:flex hidden cursor bg-origin-content"></div>
                <div class="sm:hidden flex cursor-sm"></div>
              </div>
            </div>
            <div
              class="text-terminal text-justify mt-4 md:mt-0 font-ubuntu_bold text-sm md:text-base"
            >
              <span class="text-terminal2">"Hey, I'm Shifat! </span>
              I'm a frontend developer. I like designing and developing frontend
              UI. I also spend a little bit of time centering div and updating npm
              packages everyday."
            </div>
          </div>
        </div>
        <div>
          <Terminal />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style scoped>
  .pixel {
    box-shadow:
      inset 0.313em 0.313em 0 rgba(0, 0, 0, 0.4),
      inset -0.313em -0.313em 0 rgba(143, 142, 142, 0.4),
      0 1em 0.625em -0.4em rgba(4, 4, 4, 0.8);
    transition: linear 0.2s;
  }

  .pixel:hover {
    box-shadow:
      inset 0.313em 0.313em 0 rgba(0, 0, 0, 0.8),
      inset -0.313em -0.313em 0 rgba(255, 255, 255, 0.6),
      0 1em 0.625em -0.4em rgba(31, 30, 30, 0.8);
  }

  .pixel:before {
    border-bottom: solid 0.25em #000;
    border-right: solid 0.25em #000;
  }

  .pixel:after {
    border-top: solid 0.25em #000;
    border-left: solid 0.25em #000;
  }

  .cursor {
    background-color: #a6ec61;
    box-shadow:
      inset 0.313em 0.313em 0 rgba(44, 121, 77, 0.4),
      inset -0.313em -0.313em 0 rgba(255, 255, 255, 0.561);
    line-height: 17px;
    -webkit-animation: blink 2s step-end infinite;
    animation: blink 1s step-end infinite;
    width: 20px;
    height: 42px;
  }
  .cursor-sm {
    background: #a6ec61;
    box-shadow:
      inset 0.313em 0.313em 0 rgba(44, 121, 77, 0.4),
      inset -0.313em -0.313em 0 rgba(255, 255, 255, 0.561);
    line-height: 17px;
    -webkit-animation: blink 2s step-end infinite;
    animation: blink 1s step-end infinite;
    z-index: 0 !important;
    width: 12px;
    height: 32px;
    z-index: 2 !important;
  }
  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
