---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center p-6 px-8">
		<div class="max-w-[1000px]">
			<div class="flex gap-x-4 items-center relative">
				<div class="text-white sm:text-5xl text-4xl font-ubuntu_light text-header"> > &nbspShifat &nbsp Habib</div>
			</div>
			<div class="text-white mt-16 font-mono text-lg">Hey, I'm Shifat. I'm a frontend developer. I like designing and developing frontend UI. I also spend some times centering div and updating npm packages everyday.  </div>
			<div class="mt-6 text-white bg-gray-800  border border-gray-600 rounded-lg min-h-[557px] font-mono sm:text-base text-xs">
				<!--header -->
				<div class="bg-gray-700 h-10 rounded-t-md">
					<div class="flex flex-wrap justify-between">
						<div class="bg-gray-600 p-2 m-1 rounded">
							<div class="flex justify-center item-center border border-white  border-b-transparent h-3.5 w-3.5">
								<div class="-mt-1 text-sm">+</div>
							</div>
						</div>
						<div class="mt-2 font-ubuntu">
							Terminal
						</div>
						<div class="flex justify-center gap-x-4 mt-1 mr-2">
							<div class="h-0.5 w-5 mt-3 bg-white rounded"></div>
							<div class="border-2 border-white h-3 w-3 mt-2 rounded-sm"></div>
							<div class="rounded-full h-6 w-6 flex justify-between items-center">
								<?xml version="1.0" ?><svg id="Layer_1" style="enable-background:new 0 0 612 792;" version="1.1" viewBox="0 0 612 792" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style type="text/css">
									.st0{fill:#84cc18;}
								</style><g><path class="st0" d="M562,396c0-141.4-114.6-256-256-256S50,254.6,50,396s114.6,256,256,256S562,537.4,562,396L562,396z M356.8,396   L475,514.2L424.2,565L306,446.8L187.8,565L137,514.2L255.2,396L137,277.8l50.8-50.8L306,345.2L424.2,227l50.8,50.8L356.8,396   L356.8,396z"/></g></svg>
							</div>
						</div>
					</div>
				</div>
	
				<div class="sm:p-2 p-1">
					<div class="">
						<span class="text-lime-500">shifat@pc</span>:<span class="text-blue-400">~</span>$<span></span> cd Desktop/Shifat
					</div>
					<div class="">
						<span class="text-lime-500">shifat@pc</span>:<span class="text-blue-400">~/Desktop/Shifat</span>$<span></span> ls
						<div class="text-lime-500 flex flex-wrap gap-x-12">
							<div>personal-info.js</div> <div>shifat-habib.pdf</div>
						</div>
					</div>
	
					<div class="break-words">
						<span class="text-lime-500">shifat@pc</span>:<span class="text-blue-400">~/Desktop/Shifat</span>$<span></span> node personal-info.js
						<div>
							<span>&#123;</span>
							<div class="pl-4">
								<div>
									name: <span class="text-lime-500">'Shifat Habib'</span>,
								</div>
								<div>
									location: <span class="text-lime-500">"Rampura, Dhaka, Bangladesh"</span>,
								</div>
								<div>
									currentJob:
									<span>&#123;</span>
									<div class="pl-4">designation: <span class="text-lime-500">'Junior Frontend Developer'</span>,</div>
									<div class="pl-4">company: <span class="text-lime-500">'Sayburgh Solutions'</span></div>
									<span><span>&#125;</span>,
								</div>
								<div>
									contactInfo: [
										<span class="text-lime-500">
											<a target="_blank" href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=shifat514@gmail.com&tf=1">
												"<span class="text-cyan-300 hover:text-cyan-500">shifat514@gmail.com</span>"
											</a>,
											<a target="_blank" href="https://www.linkedin.com/in/shifat-habib-919b40159/">
												"<span class="text-cyan-300 hover:text-cyan-500">Linkedin</span>"
											</a>,	
											<a target="_blank" href="https://github.com/shifat514">
												"<span class="text-cyan-300 hover:text-cyan-500">github</span>"
											</a>,
											<a target="_blank" href="https://www.facebook.com/shifat.habib.3/">
												"<span class="text-cyan-300 hover:text-cyan-500">facebook</span>"
											</a>
										</span>
									],
								</div>
								<div class="break-words">
									<span >skills:</span>
									<span>&#123;</span>
									<div class="pl-4">goodAt: [<span class="text-lime-500">'JavaScript','Vue','Nuxt','Vuetify','Tailwind'</span>],</div>
									<div class="pl-4">familiarWith: [<span class="text-lime-500">'C','C++',TypeScript','SQL','Astro'</span>]</div>
									<span><span>&#125;</span>,
								</div>
								<div>
									<span>interests:</span>
									[<span class="text-lime-500">"cycling", "watching movies", "creating tech content","building pc"</span>]
								</div>
							</div>
							<span>&#125;</span>
						</div>
					</div>
					<div class="mt-2">
						<span class="text-lime-500">shifat@pc</span>:<span class="text-blue-400">~/Desktop/Shifat</span>$<span></span> evince "Shifat-Resume.pdf"
						<div class="text-lime-500">
							"<a target="_blank" href="https://drive.google.com/file/d/1ftJ7hr-nHGvJoPnXYYrdlCHwEQK0kZvD/view?usp=sharing"><span class="text-cyan-300 hover:text-cyan-500">Shifat-Resume.pdf</span></a>"
						</div>
					</div>
					<div class="mt-2 text">
						<span class="text-lime-500">shifat@pc</span>:<span class="text-blue-400">~/Desktop/Shifat</span>$
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	.text-header {
	position: relative;
	display: inline-block;
	}
	.text-header::after {
	content: "";
	position: absolute;
	top: 1;
	right: -32px;
	/* Remove display: inline-block if not required to be on the same line as text etc */
	/* display: inline-block; */
	background-color: #ffffff;
	/* vertical-align: top; */
	width: 24px;
	/* Set height to the line height of .text */
	height: 46px;
	/* 
	Animation paramaters:
	blink = animation-name, 
	1s = animation-duration, 
	step-end = animation-timing-function,
	infinite = animation-iteration-count
	*/
	-webkit-animation: blink 1.5s step-end infinite;
	animation: blink 1.5s step-end infinite;
	}


	.text { 
	position: relative;
	display: inline-block;
	}
	.text::after {
	content: "";
	position: absolute;
	top: 0;
	right: -15px;
	/* Remove display: inline-block if not required to be on the same line as text etc */
	/* display: inline-block; */
	background-color: #a0a0a0;
	/* vertical-align: top; */
	width: 8px;
	/* Set height to the line height of .text */
	height: 20px;
	/* 
	Animation paramaters:
	blink = animation-name, 
	1s = animation-duration, 
	step-end = animation-timing-function,
	infinite = animation-iteration-count
	*/
	-webkit-animation: blink 1s step-end infinite;
	animation: blink 1s step-end infinite;
	}

	@-webkit-keyframes blink {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
	}

	@keyframes blink {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
	}
</style>
