---

---
<div class="flex justify-center ">
    <div class="w-[900px] mx-4">
        <footer class="py-8 flex justify-between   text-slate-400 text-xs font-mono font-semibold">
            <div>
                Shifat Habib
            </div>
            <div class="flex gap-x-2">
                <div class="hover:text-lime-500">
                    <a href="/about">about</a>
                </div>
                <div class="mt-[2px] border border-slate-400 h-[12px] border-dashed"></div>
            
                <div class="hover:text-lime-500">
                    <a href="/projects">projects</a>
                </div>
                <div class="mt-[2px] border border-slate-400 h-[12px] border-dashed"></div>
                <div class="hover:text-lime-500">
                    <a href="/blogs">blogs</a> 
                </div>
            </div>
        </footer>
    </div>
</div>