---

---
<div class="flex justify-center">
    <div class="w-[900px] mx-4">
        <nav class="pt-8 sm:pt-12 flex gap-x-4 justify-center sm:justify-end text-slate-400 text-base sm:text-lg font-mono font-semibold">
            <div class="hover:text-lime-500">
                <a href="/">home</a>
            </div>
            <div class="border border-slate-400 mt-2 h-[15px] border-r"></div>
            <div class="hover:text-lime-500">
                <a href="/about">work</a>
            </div>
            <div class="border border-slate-400 mt-2 h-[15px] border-r"></div>
        
            <div class="hover:text-lime-500">
                <a href="/projects">projects</a>
            </div>
            <div class="border border-slate-400 mt-2 h-[15px] border-r"></div>
            <div class="hover:text-lime-500">
                <a href="/blogs">blogs</a> 
            </div>
        </nav>
        <hr class="w-full border-t-2 border-slate-900 mt-2">
    </div>
</div>
