---

---
<nav class="pt-8 flex gap-x-4 justify-center sm:justify-end text-slate-400 text-base sm:text-lg font-mono font-semibold">
    <div class="hover:text-lime-500">
        <a href="/">home</a>
    </div>
    <div class="border border-slate-400 mt-1 h-[20px] border-dashed"></div>
    <div class="hover:text-lime-500">
        <a href="/about">about</a>
    </div>
    <div class="border border-slate-400 mt-1 h-[20px] border-dashed"></div>

    <div class="hover:text-lime-500">
        <a href="/projects">projects</a>
    </div>
    <div class="border border-slate-400 mt-1 h-[20px] border-dashed"></div>
    <div class="hover:text-lime-500">
        <a href="/blogs">blogs</a> 
    </div>
</nav>