---

---

<div
  class="mt-16 text-white bg-terminal1 border border-header2 rounded-lg min-h-[557px] font-ubuntu sm:text-base text-xs"
>
  <!--header -->
  <div class="bg-header2 h-10 rounded-t-md">
    <div class="flex flex-nowrap justify-between">
      <div>
        <div class="bg-headerIcon h-8 w-8 m-1 rounded relative">
          <div
            class="absolute top-2.5 left-2.5 border border-white border-b-transparent h-3 w-3"
          >
            <div class="-mt-[3px] ml-[2px] text-xs">+</div>
          </div>
        </div>
      </div>
      <div class="mt-3 sm:mt-2 ml-12 sm:ml-32 font-ubuntu_bold">Terminal</div>
      <div class="flex gap-x-8 mt-1 mr-2">
        <div class="hidden sm:flex gap-x-2">
          <div class="bg-headerIcon h-8 w-8 relative rounded">
            <div class="absolute top-2 left-2">
              <svg
                fill="#ffffff"
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="15"
                viewBox="0 0 30 30"
              >
                <path
                  d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="bg-headerIcon h-8 w-8 relative rounded">
            <div class="absolute top-2 left-2">
              <svg
                fill="#ffffff"
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="15"
                height="15"
                viewBox="0 0 24 24"
              >
                <path
                  d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
        <div class="flex gap-x-6">
          <div class="h-0.5 w-2 mt-[14px] bg-white rounded"></div>
          <div class="border border-white h-[10px] w-[10px] mt-2.5"></div>
          <div
            class="rounded-full mt-[2px] h-6 w-6 flex justify-between items-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="100"
              height="100"
              viewBox="0 0 48 48"
            >
              <path
                fill="#A6EC61"
                d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"
              ></path><path
                fill="#092537"
                d="M29.656,15.516l2.828,2.828l-14.14,14.14l-2.828-2.828L29.656,15.516z"
              ></path><path
                fill="092537"
                d="M32.484,29.656l-2.828,2.828l-14.14-14.14l2.828-2.828L32.484,29.656z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tracking-widest">
    <div class="sm:p-2 p-1">
      <div class="">
        <span class="text-gray-400">shifat@pc</span><span class="text-gray-400"
          >~
        </span>$<span></span> cd Desktop/Shifat
      </div>
      <div class="">
        <span class="text-gray-400">shifat@pc</span><span class="text-gray-400"
          >~/Desktop/Shifat
        </span>$ <span></span> ls
        <div class="text-purple-500 flex flex-wrap gap-x-12">
          <div>personal-info.js</div>
          <div>shifat-habib.pdf</div>
        </div>
      </div>

      <div class="break-words">
        <span class="text-gray-400">shifat@pc</span><span class="text-gray-400"
          >~/Desktop/Shifat
        </span>$ <span></span> node personal-info.js
        <div>
          <span>&#123;</span>
          <div class="pl-4">
            <div>
              name: <span class="text-cyan-300">'Shifat Habib'</span>,
            </div>
            <div>
              phone: <span class="text-cyan-300 cursor-pointer"
                >'<a
                  class="text-accent hover:text-blue-500"
                  href="tel:+8801521436358">+8801521436358</a
                >'</span
              >,
            </div>
            <div>
              location: <span class="text-gray-400"
                >"Rampura, Dhaka, Bangladesh"</span
              >,
            </div>
            <div>
              currentJob:
              <span>&#123;</span>
              <div class="pl-4">
                designation: <span class="text-cyan-300"
                  >'Junior Frontend Developer'</span
                >,
              </div>
              <div class="pl-4">
                company: <a
                  target="_blank"
                  href="https://sayburgh.com/"
                  class="text-accent hover:text-blue-500"
                  >'Sayburgh Solutions'</a
                >
              </div>
              <span><span>&#125;</span>, </span>
              <div class="break-all">
                contactInfo: [
                <span class="text-accent">
                  <a
                    target="_blank"
                    href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=shifat514@gmail.com&tf=1"
                  >
                    "<span class="text-accent hover:text-blue-500"
                      >shifat514@gmail.com</span
                    >"
                  </a>,
                  <a
                    target="_blank"
                    href="https://www.linkedin.com/in/shifat-habib-919b40159/"
                  >
                    "<span class="text-accent hover:text-blue-500"
                      >Linkedin</span
                    >"
                  </a>,
                  <a target="_blank" href="https://github.com/shifat514">
                    "<span class="text-accent hover:text-blue-500">github</span
                    >"
                  </a>,
                  <a
                    target="_blank"
                    href="https://www.facebook.com/shifat.habib.3/"
                  >
                    "<span class="text-accent hover:text-blue-500"
                      >facebook</span
                    >"
                  </a>
                </span>
                ],
              </div>
              <div class="break-all">
                <span>skills:</span>
                <span>&#123;</span>
                <div class="pl-4">
                  goodAt: [<span class="text-cyan-300"
                    >'JavaScript','Vue','Nuxt','Vuetify','Tailwind'</span
                  >],
                </div>
                <div class="pl-4">
                  familiarWith: [<span class="text-cyan-300"
                    >'C','C++',TypeScript','SQL','Electron','Bootstrap',Astro'</span
                  >]
                </div>
                <span><span>&#125;</span>, </span>
                <div>
                  <span>interests:</span>
                  [<span class="text-gray-400"
                    >"cycling", "watching movies", "creating tech
                    content","building pc"</span
                  >]
                </div>
              </div>
              <span>&#125;</span>
            </div>
          </div>
          <div class="mt-2">
            <span class="text-gray-400">shifat@pc</span><span
              class="text-gray-400"
              >~/Desktop/Shifat
            </span>$ <span></span> evince "Shifat-Resume.pdf"
            <div class="text-gray-400">
              "<a
                target="_blank"
                href="https://drive.google.com/file/d/1H-BuSBbcAxJ564Po8bfBkdjfKqtsuchn/view?usp=sharing"
                ><span class="text-accent hover:text-blue-500"
                  >Shifat-Resume.pdf</span
                ></a
              >"
            </div>
          </div>
          <div class="mt-2 text">
            <span class="text-gray-400">shifat@pc</span><span
              class="text-gray-400"
              >~/Desktop/Shifat
            </span>$
          </div>
        </div>
      </div>
    </div>
  </div>
  <style scoped>
    .text-header {
      position: relative;
      display: inline-block;
    }

    .text-header::after {
      content: "";
      position: absolute;
      top: 1;
      right: -36px;
      background-color: #19ae1d;
      width: 24px;
      height: 46px;
      -webkit-animation: blink 1.5s step-end infinite;
      animation: blink 1.5s step-end infinite;
    }

    .text {
      position: relative;
      display: inline-block;
    }
    .text::after {
      content: "";
      position: absolute;
      top: 0;
      right: -15px;
      /* Remove display: inline-block if not required to be on the same line as text etc */
      /* display: inline-block; */
      background-color: #ffffff;
      /* vertical-align: top; */
      width: 8px;
      /* Set height to the line height of .text */
      height: 18px;
      /* 
	Animation paramaters:
	blink = animation-name, 
	1s = animation-duration, 
	step-end = animation-timing-function,
	infinite = animation-iteration-count
	*/
      -webkit-animation: blink 1s step-end infinite;
      animation: blink 1s step-end infinite;
    }

    @-webkit-keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  </style>
</div>
