---
import Layout from "../../layouts/Layout.astro"
import Blog from '../../pages/blogs/[id].astro'
// export const prerender =  false
// const {id} = Astro.params
---

<Layout title="Blogs">
  <main>
    <div class="flex justify-center">
      <div class="w-[1000px] flex justify-center">
        <div class="grid gap-8 text-accent">
          <a href=`/blogs/1`>
            Why we should not use index in v-for? 
          </a>
          <a href=`/blogs/2`>
            blogs  2  
          </a>
          <a href=`/blogs/3`>
            blogs  3 
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style scoped>

</style>
