---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/pix-shifat.png" />
    <link rel="stylesheet" href="/Styles/style.css" />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot  />
    <Footer/>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "ubuntu";
    src: url("/public/fonts/Ubuntu-Regular.ttf");
  }
  @font-face {
    font-family: "ubuntu-light";
    src: url("/public/fonts/Ubuntu-Light.ttf");
  }
  @font-face {
    font-family: "ubuntu-bold";
    src: url("/public/fonts/Ubuntu-Bold.ttf");
  }
  @font-face {
    font-family: "spacemono";
    src: url("/public/fonts/SpaceMono-Regular.ttf");
  }
  @font-face {
    font-family: "spacemono_bold";
    src: url("/public/fonts/SpaceMono-Bold.ttf");
  }
  @font-face {
    font-family: "jersey";
    src: url("/public/fonts/Jersey25-Regular.ttf");
  }
  html {
    /* background: #0e0e0e; 
     background: #151515; */
    background: #092537;
  } 
</style>
